## Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

# Some of the commonly used libraries used by Data Scientists include:

1. Numpy

2.Pandas

3. ggplot

# Data Science Tools

1.R studio

2.Hadoop

3. Apache Spark

## Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
10+15

25

<!-- This a simple arithmetic expression to mutiply then add integers -->

In [5]:
(3*4)+5

17

In [ ]:
<!-- This will convert 200 minutes to hours by diving by 60 -->

In [8]:
200/60

3.3333333333333335

# Objectives
## List popular languages for Data Science.

-Python

-R

-Julia

## Author
Nayanthara